<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>ThreeJS App</title>
  <!--<script src="http://threejs.org/build/three.js"></script>
  <script src="https://unpkg.com/topojson-client@3"></script>
  <script src="https://unpkg.com/d3-array@1"></script>
  <script src="https://unpkg.com/d3-collection@1"></script>
  <script src="https://unpkg.com/d3-dispatch@1"></script>
  <script src="https://unpkg.com/d3-request@1"></script>
  <script src="https://unpkg.com/d3-timer@1"></script>-->

  <script src="/libs/d3/d3-array.js"></script>
  <script src="/libs/d3/d3-collection.js"></script>
  <script src="/libs/d3/d3-dispatch.js"></script>
  <script src="/libs/d3/d3-request.js"></script>
  <script src="/libs/d3/d3-timer.js"></script>
  <script src="/libs/d3/topojson-client.js"></script>

  <script src="/libs/threejs/three.js"></script>
  <script src="/libs/threejs/jquery.js"></script>
  <script src="/libs/threejs/OrbitControls.js"></script>
  <script src="/libs/threejs/TrackballControls.js"></script>
  <script src="/libs/threejs/TransformControls.js"></script>

</head>
<body>
  <div id="container"></div>
  <!--<script src="ThreeJS.js"></script>-->
  <script src="Test.js"></script>
</body>
</html>